
extends ../../layouts/default

block head
  title Luna Rating Game

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block feet
  script(src='/socket.io/socket.io.js')
  script(src='/views/about/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-9.special
      div.page-header
        h2 Luna Rating Game
      div.media
        div#chatBox.well
        div#chatForm
    div.col-sm-3
      div.page-header
        h2 My Rating
      div.media
        h3 1200

  script(type='text/template', id='tmpl-chatForm')
    form
      div.form-group
        div.input-group
          input.form-control(type='text', name='message', placeholder='enter a message')
          span.input-group-btn
            button.btn.btn-primary.btn-chat Send